﻿@model IEnumerable<AlbumOfTheYear.Web.Models.Album>

<h2>AlbumsList</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database!</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Title)</th>
            <th>@Html.DisplayNameFor(m => m.First().Performer)</th>
            <th>@Html.DisplayNameFor(m => m.First().Genre)</th>
            <th>@Html.DisplayNameFor(m => m.First().ReleaseYear)</th>
            <th>@Html.DisplayNameFor(m => m.First().IsReissue)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>
        @foreach(var album in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>album.Title)</td>
                <td>@Html.DisplayFor(m=>album.Performer)</td>
                <td>@Html.DisplayFor(m=>album.Genre)</td>
                <td>@Html.DisplayFor(m=>album.ReleaseYear)</td>
                <td>@Html.DisplayFor(m=>album.IsReissue)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = album.Id})</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new { id = album.Id})</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = album.Id})</td>
            </tr>
        }
    </table>
}
