﻿@model AlbumOfTheYear.Web.Models.AlbumListViewModel

@{
    ViewData["Title"] = "AlbumsIndex";
}

<h2>Albums Index</h2>

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("AlbumsEdit", Model.EditedAlbum)

@await Html.PartialAsync("AlbumsList", Model.ListOfAlbums)
