﻿@model AlbumOfTheYear.Web.Models.Album

<h2>AlbumsEdit</h2>

@using (Html.BeginForm("Edit", "Albums"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Performer)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Performer)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Title)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Title)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Genre)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Genre)</div>

    <div class="editor-label">@Html.LabelFor(m => m.ReleaseYear)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ReleaseYear)</div>

    <div class="editor-label">@Html.LabelFor(m => m.IsReissue)</div>
    <div class="editor-field">@Html.EditorFor(m => m.IsReissue)</div>

    <input type="submit" value="SEND" />
}  