﻿@model AlbumOfTheYear.Web.Models.Album

@{ 
    ViewData["Title"] = "AlbumsDetails";
}

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Performer)</td>
        <td>@Html.DisplayFor(m => m.Performer)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Title)</td>
        <td>@Html.DisplayFor(m => m.Title)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Genre)</td>
        <td>@Html.DisplayFor(m => m.Genre)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ReleaseYear)</td>
        <td>@Html.DisplayFor(m => m.ReleaseYear)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.IsReissue)</td>
        <td>@Html.DisplayFor(m => m.IsReissue)</td>
    </tr>
</table>
